## CONVERT CATEGORICAL DATA INTO NUMERIC DATA - PART2
Linkedin : https://ke.linkedin.com/in/allan-davis-9294111ba Github : https://github.com/Allan-141/

In [85]:
import numpy as np
import pandas as pd

In [86]:
footballers=pd.DataFrame(data={'NAME':['RONALDO','MESSI','RUDIGER','MBAPPE','LEWANDOSKI','JAMES','KANTE','MANE'],
                               'AGE':[36,34,33,24,30,31,29,32],
                               'GRADE':['BEST','BETTER','GOOD','GOOD','BETTER','BEST','GOOD','BETTER'],
                               'ROLE':['FORWARD','FORWARD','DEFENDER','FORWARD','MID','DEFENDER','MID','FORWARD'],
                               'RATING':[305,274,270,284,301,274,276,269],
                               'COUNTRY':['PORTUGAL','ARGENTINA','FRANCE','FRANCE','GERMAN','FRANCE','FRANCE','SENEGAL']
                               
    
    
})

In [87]:
footballers

         NAME  AGE   GRADE      ROLE  RATING    COUNTRY
0     RONALDO   36    BEST   FORWARD     305   PORTUGAL
1       MESSI   34  BETTER   FORWARD     274  ARGENTINA
2     RUDIGER   33    GOOD  DEFENDER     270     FRANCE
3      MBAPPE   24    GOOD   FORWARD     284     FRANCE
4  LEWANDOSKI   30  BETTER       MID     301     GERMAN
5       JAMES   31    BEST  DEFENDER     274     FRANCE
6       KANTE   29    GOOD       MID     276     FRANCE
7        MANE   32  BETTER   FORWARD     269    SENEGAL

### CREATING DATA MAPPING

In [88]:
DataMapping = {
    'BEST':1,
    'BETTER':2,
    'GOOD':3
}

In [89]:
footballers["GradeLabel"] = footballers['GRADE'].map(DataMapping)

In [90]:
footballers

         NAME  AGE   GRADE      ROLE  RATING    COUNTRY  GradeLabel
0     RONALDO   36    BEST   FORWARD     305   PORTUGAL           1
1       MESSI   34  BETTER   FORWARD     274  ARGENTINA           2
2     RUDIGER   33    GOOD  DEFENDER     270     FRANCE           3
3      MBAPPE   24    GOOD   FORWARD     284     FRANCE           3
4  LEWANDOSKI   30  BETTER       MID     301     GERMAN           2
5       JAMES   31    BEST  DEFENDER     274     FRANCE           1
6       KANTE   29    GOOD       MID     276     FRANCE           3
7        MANE   32  BETTER   FORWARD     269    SENEGAL           2

### Handling Categorical data features

In [91]:
footballers.shape

(8, 7)

#### using one hote encoding

In [92]:
pd.get_dummies(footballers).shape

(8, 22)

### The above diffference in dummies dimension is due to splitting of each columns into individaul records

In [93]:
len(footballers['GRADE'].unique())

3

In [94]:
len(footballers['NAME'].unique())

8

### FINDING THE NUMBER OF LABELS IN THE DATAFRAME

In [95]:
for col in footballers[0:]:
    print(col,':',len(footballers[col].unique()),'Labels')

NAME : 8 Labels
AGE : 8 Labels
GRADE : 3 Labels
ROLE : 3 Labels
RATING : 7 Labels
COUNTRY : 5 Labels
GradeLabel : 3 Labels

### Finding How many times a label is present in the records

In [96]:
footballers.NAME.value_counts().to_dict()

{'RONALDO': 1,
 'MESSI': 1,
 'RUDIGER': 1,
 'MBAPPE': 1,
 'LEWANDOSKI': 1,
 'JAMES': 1,
 'KANTE': 1,
 'MANE': 1}

In [97]:
footballers.COUNTRY.value_counts().to_dict()

{'FRANCE': 4, 'PORTUGAL': 1, 'ARGENTINA': 1, 'GERMAN': 1, 'SENEGAL': 1}

In [98]:
footballers.GRADE.value_counts().to_dict()

{'BETTER': 3, 'GOOD': 3, 'BEST': 2}

In [99]:
footballers.ROLE.value_counts().to_dict()

{'FORWARD': 4, 'DEFENDER': 2, 'MID': 2}

### REPLACE EACH LABEL WITH ITS COUNT VALUE

In [100]:
footballers_frequency_map = footballers.ROLE.value_counts().to_dict()
footballers_frequency_map

{'FORWARD': 4, 'DEFENDER': 2, 'MID': 2}

In [101]:
footballers.ROLE = footballers.ROLE.map(footballers_frequency_map)

In [102]:
footballers

         NAME  AGE   GRADE  ROLE  RATING    COUNTRY  GradeLabel
0     RONALDO   36    BEST     4     305   PORTUGAL           1
1       MESSI   34  BETTER     4     274  ARGENTINA           2
2     RUDIGER   33    GOOD     2     270     FRANCE           3
3      MBAPPE   24    GOOD     4     284     FRANCE           3
4  LEWANDOSKI   30  BETTER     2     301     GERMAN           2
5       JAMES   31    BEST     2     274     FRANCE           1
6       KANTE   29    GOOD     2     276     FRANCE           3
7        MANE   32  BETTER     4     269    SENEGAL           2

## The Davis Generation W.A +254757536155, 

Linkedin : https://ke.linkedin.com/in/allan-davis-9294111ba
Github : https://github.com/Allan-141/

## BYE BI